@model Guess

<div class="text-center">

	Sorry it was :

	<h3>GUESS1 - @Model.Guess1</h3>
	<h3>GUESS1 - @Model.Guess1Attempt</h3>
	<h3>GUESS2 - @Model.Guess2</h3>
	<h3>GUESS2 - @Model.Guess2Attempt</h3>
	<h3>GUESS3 - @Model.Guess3</h3>
	<h3>GUESS3 - @Model.Guess3Attempt</h3>
	<h3>GUESS4 - @Model.Guess4</h3>
	<h3>GUESS4 - @Model.Guess4Attempt</h3>
	<h3>GUESS5 - @Model.Guess5</h3>
	<h3>GUESS5 - @Model.Guess5Attempt</h3>
	<h3>GUESS6 - @Model.Guess6</h3>
	<h3>GUESS6 - @Model.Guess6Attempt</h3>

	@Model.ChosenWord

</div>
